<section id="me" class="about-me wrapper fade-up">
  <div class="inner">
    <h2 class="about-me__title">Sobre mi</h2>
    <div class="about-me__my-info-box">
      <div class="about-me__my-info">
        <p>Soy un Desarrollador Web senior, con más de 8 años de experiencia en desarrollos web, especialmente dedicado a la maquetación y accesibilidad. He realizado multitud de proyectos web para un gran número de clientes (Santander, Bankia, Orange, La Caixa, Iberia, Repsol, etc.) integrando los desarrollos en distintos tipos de tecnologías (Liferay, Opentext, SharePoint, Sitecore, Web Center Site, Qlik, React, Angular.js y versiones superiores Angular2).</p>
        <p>Tengo facilidad de trato con el cliente, me adapto rápidamente en cualquier ambiente de trabajo y tengo gran capacidad de trabajar en varios proyectos simultáneamente. Intento ser resolutivo y proporcional múltiples soluciones a los problemas que pueda encontrarse el proyecto. Actualmente superviso equipos de ente 2 y 5 profesionales, dándole soporte y formación constante. Defino arquitecturas y de igual manera realizo auditorias para mejorar el “preformance” de los desarrollos web.</p>
        <p>Realmente un apasionado de mi trabajo, siempre dispuesto a conocer nuevas tecnologías y a escuchar a todo aquel que pueda enseñarme cosas nuevas. </p>
      </div>
    </div>

    <div class="features">
      <section>
        <img src="../build/assets/images/logo-repsol.jpg" class="about-me__logo-company">
        <h3>Repsol - TME & TPV</h3>
        <span class="about-me__date">Mar. de 2018 – May. de 2018</span>
        <p>Desarrollo Front en Angular.js para utilizarlo en las TME y TPV de las gasolineras de Repsol.</p>
      </section>
      <section>
        <img src="../build/assets/images/logo-bankia.jpg" class="about-me__logo-company">
        <h3>Bankia - Web pública</h3>
        <span class="about-me__date">Ene. de 2016 – Nov. de 2016</span>
        <p>Actualización del "look&feel" de la pagina pública de Bankia. Para ello realizamos una nueva maquetación que se integraría en Opentext.</p>
      </section>
      <section>
        <img src="../build/assets/images/logo-eci.jpg" class="about-me__logo-company">
        <h3>El corte ingles - Cuadro de mandos</h3>
        <span class="about-me__date">Oct. de 2015 – Ene. de 2016</span>
        <p>Maquetación de un cuadro de mandos destinado a los directivos integrado en Qlik Sense.</p>
      </section>
      <section>
        <img src="../build/assets/images/logo-endesa.jpg" class="about-me__logo-company">
        <h3>Endesa - Web pública</h3>
        <span class="about-me__date">Dic. de 2014 – Ago. de 2015</span>
        <p>Actualización del "look&feel" de la pagina pública de Endesa. Para ello realizamos una nueva maquetación que se integraría en Web Center Site.</p>
      </section>
      <section>
        <img src="../build/assets/images/logo-santander.jpg" class="about-me__logo-company">
        <h3>Santander - Soporte Maquetación</h3>
        <span class="about-me__date">Feb. de 2013 – Dic. de 2014</span>
        <p>En este proyecto se realizaron dos propuestas de Web:</p>
        <ul>
          <li>
            Web privada para los usuarios del Santander Brasil
          </li>
          <li>
            Web privada para los usuarios del Santander México
          </li>
        </ul>
        <p>En los dos proyectos mi misión era la de realizar una simulación de la web (low-fi) para vender a Brasil y México un nuevo "look&feel" adecuado al tipo de negocio que hay en cada país. Buscando soluciones soluciones novedosas e innovadoras en el campo Front.</p>
      </section>
      <section>
        <img src="../build/assets/images/logo-min-pre.jpg" class="about-me__logo-company">
        <h3>Ministerio de la presidencia</h3>
        <span class="about-me__date">Oct. de 2010 – Mar. de 2011</span>
        <p>Creación de web para el ministerio de la presidencia en la que poder consultar el organigrama entero de puestos y sedes ofrecidos por el gobierno de España.</p>
        <p>Se trabajo con web service, Java 1.5, Oracle. Hibernate y JSP.</p>
      </section>
    </div>
    <ul class="actions">
      <li><a href="generic.html" class="button">Learn more</a></li>
    </ul>
  </div>
</section>