<footer id="footer" class="crr-footer wrapper">
  <div class="inner">
    <ul class="menu">
      <li>www.condrado.com</li>
      <li>Redes Sociales: <a href="#">FB</a></li>
    </ul>
  </div>
</footer>