<section id="intro" class="crr-intro wrapper fullscreen fade-up">
  <div class="inner">
    <h1 class="crr-intro__title">{{intro.title}}{{intro.subtitle}}</h1>
    <p>En estas paginas podrás encontrar información interesante sobre desarrollo web, espacialmente maquetación, así como buenas prácticas y ejemplos útiles que podrás incluir en tus desarrollos.</p>
    <p>También podrás conocerme un poco más y ver mi experiencia laboral en el campo el desarrollo web.</p>
    <ul class="actions">
      <li><a href="#me" class="button scrolly">Saber más</a></li>
    </ul>
    <span class="crr-intro--logo">
      <span class="crr-intro--logo-part1"></span>
      <span class="crr-intro--logo-part2"></span>
    </span>
  </div>
</section>