<section class="crr-post-content wrapper">
  <div class="inner">
    <h1 class="crr-post-content__title major"></h1>

    <nav aria-label="Breadcrumb" class="crr-breadcrumb">
      <ol>
        <li>
          <a class="crr-breadcrumb__link" href="./">Condrado</a>
        </li>
        <li>
          <a class="crr-breadcrumb__link crr-breadcrumb__link--theme" href="./tema.html"></a>
        </li>
        <li>
          <span  class="crr-breadcrumb__text"></span>
        </li>
      </ol>
    </nav>
    
    <div class="crr-post-content__content">
    </div>
  </div>
</section>