<section id="sidebar" class="crr-sidebar">
  <div class="crr-sidebar__hamburger">
    <div class="crr-sidebar__hamburger-btn" type="button" title="Menú principal desplegable">
      <span>Menú principal desplegable</span>
    </div>
  </div>
  <div class="inner">
    <nav class="crr-sidebar__nav">
      <ul class="crr-sidebar__list">
        <li></li>
      </ul>
    </nav>
  </div>
</section>